# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# =========================
# E2E Tests & Coverage
# =========================

# Arquivos brutos de cobertura do Istanbul
.nyc_output/

# Relatórios finais de cobertura (HTML, lcov, etc)
coverage/

# Relatório HTML gerado pelo Playwright
playwright-report/

# Rastros, vídeos e screenshots gerados quando um teste falha (Traces)
test-results/